		
		<html>
		<head>
		<style>
		h2 { 
			display: block;
			font-size: 10em;
			margin-top: -.06em;
 			margin-bottom: 0.2em;
 			margin-left: 0;
  			margin-right: 0;
  			font-weight: bold;
		    }
		</style>
		</head>
		<body>
			<h2>Anastasia Rahlin</h2>
		

<div id="nav-wrapper">
	
	<!-- Nav -->
	<nav id="nav">
		
		<ul>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a style="font-weight:bold"  href="/index.html">About</a></li>
			<li {% if current[1] == 'research.html' %}class='current'{% endif %}><a style="font-weight:bold" href="/research.html">Research</a></li>
			<li {% if current[1] == 'publications.html' %}class='current'{% endif %}><a style="font-weight:bold" href="/publications.html">Publications</a></li>
			<li {% if current[1] == 'outreach.html' %}class='current'{% endif %}><a style="font-weight:bold" href="/outreach.html">Outreach</a></li>
			<li {% if current[1] == 'CV.html' %}class='current'{% endif %}><a style="font-weight:bold" href="/cv.html">CV</a></li>
			
		</ul>
	</nav>
</div>
			
</body>
</html>
