
body,input,textarea,select
	{
		line-height: 1.75em;
		font-size: 10.5pt;
		letter-spacing: 0;
	}

body
{
	padding-top: calc(0px+0.5vw);
	padding-bottom: calc(0px+0.5vw);
}


/* this is new 6.20.19, this dictates the amount of white space between the header photo and "welcome". tried to change the font size of "welcome!" by making it dynamic  */
	header
	{
		margin-top: 5em; /*moves Welcome down, used to be 2em */
		margin-bottom: 1em; /* how much space there is between the bottom of Welcome and next words below */
		
	}


/*new as of 6.20.19 removed h4 from this; does not change the size of Welcomey */
	h2, h3, h4, h5, h6
	{
		line-height: 1em; /* used to be line-height: 1em; */
		font-size: calc(0.01px + (25 - 0.1) * ((100vw - 0.1px) / (1800 - 0.1))); /*used to be 7em */
 /* used to be font-size: 1.5em; */
	}

/*this is new, and changes the size of "Welcome!"*/
/*header .byline
/*	{
font-size: 0.5em; /*was 1.7em which made "Welcome!" really big */
/*	}
*/

/*********************************************************************************************/
/* end Basic                                                                                 */
/*********************************************************************************************/

/*not sure what this does */
section,
article
{
clear: both;
margin: 2em 0 2em 0 !important;
}

/*not sure what this does */
section > :first-child,
article > :first-child
{
margin-top: 0 !important;
}

/*not sure what this does but possibly makes the font smaller and gives more white space below "welcome" */
section:first-child,
article:first-child
{
margin-top: 0 !important;
}

/*places more white space at margins of text that says "Please feel free to contact me, I want to collaborate, etc */
.container
{
padding: 0em 1em;
top: 60%;
}

hr
{
margin: 2em 0 0 0; /*used to be 3em */
padding: 2em 0 0 0; /*used to be 3em */
}

/*apparently does nothing, definitely does not create a visible button */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 25px;
  cursor: pointer;
}

#titleBar
{
background: #161616;
}

#titleBar .title a
{
//display: block;
color: #fff;
text-align: center;
line-height: 10px; /*used to be 44px; changed to be dynamic */
font-weight: 300;
text-decoration: none;
}

#titleBar .tag
{
display: none;
}

#titleBar .toggle
{
position: absolute;
left: 0;
top: 0;
width: 30px; /* calc(20px + 0.25vw); used to be 80px; changed to dynamic */
height: 10px; /* used to be 60px; changed to dynamic */
}

#titleBar .toggle:after
{
content: '';
display: block;
width: 20px;
height: 12px;
position: absolute;
left: 10px;
top: 15px;
background: url('images/toggle.svg') 0px 0px no-repeat;
opacity: 0.5;
}

#titleBar .toggle:active:after
{
opacity: 0.75;
}


